html {
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  min-height: 100VH;
  padding: 20px 40px;
}

h1 {
  font-size: 2.25em;
}

.name-container {
  font-weight: bold;
  line-height: normal;
}

nav {
  background-color: inherit !important;
  color: white;
}

section {
  height: calc(100vh - 160px);
}

section div {
  max-height: 100%;
}

.image-container {
  text-align: center;
}

#profile-pic {
  max-height: 100%;
}

img {
  border-radius: 5px;
  opacity: 85%;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto;
}

footer img {
  width: 50px;
  margin: 20px 10px;
}

